.vs/config/applicationhost.config
packages/EntityFramework.6.1.3/content/App.config.transform
packages/EntityFramework.6.1.3/content/Web.config.transform
packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
packages/EntityFramework.6.1.3/tools/init.ps1
packages/EntityFramework.6.1.3/tools/install.ps1
packages/Microsoft.VisualStudio.TextTemplating.14.0.14.2.25123/lib/net45/Microsoft.VisualStudio.TextTemplating.14.0.xml
packages/Microsoft.VisualStudio.TextTemplating.14.0.14.2.25123/Microsoft.VisualStudio.TextTemplating.14.0.14.2.25123.nupkg
packages/Microsoft.VisualStudio.TextTemplating.Interfaces.10.0.10.0.30319/lib/net40/microsoft.visualstudio.texttemplating.interfaces.10.0.xml
packages/Microsoft.VisualStudio.TextTemplating.Interfaces.10.0.10.0.30319/Microsoft.VisualStudio.TextTemplating.Interfaces.10.0.10.0.30319.nupkg
packages/Microsoft.VisualStudio.TextTemplating.Interfaces.11.0.11.0.50727/lib/net45/microsoft.visualstudio.texttemplating.interfaces.11.0.xml
packages/Microsoft.VisualStudio.TextTemplating.Interfaces.11.0.11.0.50727/Microsoft.VisualStudio.TextTemplating.Interfaces.11.0.11.0.50727.nupkg
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
packages/Newtonsoft.Json.6.0.8/tools/install.ps1
FooMetadataTest/CrudPot/CommonCrud.sql
FooMetadataTest/CrudPot/DeleteProcedure.sql
FooMetadataTest/CrudPot/InsertProcedure.sql
FooMetadataTest/CrudPot/UpdateProcedure.sql
FooMetadataTest/jTableTemplate.js
FooMetadataTest/obj/*
FooMVCAppModern/obj/*
FooMVCAppModern/bin/*
